div.container {
    display: flex;
    flex-direction: column;
}

a.contact {
    display: inline-block;
    margin-left: 3em;
    margin-top: 2em;
    text-decoration: none;
    max-width: fit-content;
}

h1 {
    margin-bottom: 50%;
}