div.container {
    display: flex;
    flex-direction: column;
}

a.contact {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 3em;
}

h1 {
    margin-bottom: 50%;
}