.card {
    background-color: rgba(85, 85, 85, 0.5) !important;
    width: 90%;
    margin: 2vw;
    size: fit-content;
    box-shadow: inset 0 0 10px white;
    padding: 1em;
}



* {
    color: white !important;
}

button {
    background-color: rgba(85, 85, 85, 0.5) !important;
}