ul {
    font-size: 1.5rem;
    font-weight: bold ;
    flex:1;
    justify-content: center;
}

a.nav-link {
 color: white !important;
}

a.nav-link.active {
 color: black !important;
 border-radius: 30px !important;
}

.nav-tabs {
    --bs-border-style: none !important;
    --bs-border-width: 0px !important;
}