* {
  font-family: 'DM Sans', sans-serif;
  font-stretch: semi-expanded;
  box-sizing: none !important;
}

div.page {
  color: white;
}

a {
  text-decoration: none !important;
}

body {
  display: inline-flex;
  align-content: center;
}