* {
  font-family: 'DM Sans', sans-serif;
  font-stretch: semi-expanded;
  box-sizing: none !important;
}

div.page {
  color: white;
}

body {
  display: inline-flex;
  align-content: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}