* {
  font-family: 'DM Sans', sans-serif;
  font-stretch: semi-expanded;
  box-sizing: none !important;
}

div.page {
  color: white;
}

body {
  display: flex;
  align-content: center;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

html {
  margin: 0;
  padding-left: 2vw;
}